.btn {
    font-family: inherit;
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: $color-violet;
    padding: 12px 32px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 2rem;
    text-align: center;
    outline: none;
    border: 0;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: darken($color-violet, 5%);
        border-color: darken($color-violet, 10%);
    }
    &:active {

        background-color: darken($color-violet, 5%);
        border-color: darken($color-violet, 20%);
    }
}
.action-btn {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 12vh;
    right: 2rem;
    z-index: 99;
    background-color: $color-violet;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    &:hover {
        background-color: darken($color-violet, 5%);
    }
  }

@media screen and (max-width: 768px) {
    .action-btn{
        display: flex;
    }
}