.header {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 68px;
    margin-bottom: 1.5rem;
    &__headline {
        grid-column-start: 1;

        h1 {
            display: inline;
            font-weight: 600;
            margin-right: 1rem;
        }

        h2 {
            font-weight: 500;
            color: $color-text-2;
        }
    }

    .btn__container {
        grid-column-start: 2;
        justify-self: right;
    }
}

.total {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .header {
        .btn__container {
            display: none;
        }
    }
}