.header {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &__headline {
        grid-column-start: 1;
        h1 {
            display: inline;
            font-weight: 600;
            margin-right: 1rem;
        }
        h2 {
            font-weight: 500;
        }
    }
    .btn__container{
        grid-column-start: 2;
        justify-self: right;
    }
}

.total {
    display: inline-block;
}