body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f2f4f8;
    color: $color-text-1;

    h2 {
        font-weight: 600;
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0 0 1.2rem 0;
    }

    a {
        text-decoration: none;
    }
}

.wrapper {
    padding: 2rem 1rem;
}